/* ===========================================
   Default Theme
   -------------------------------------------
   Fonts: Raleway & Poppins
   -------------------------------------------
   Colors:
        Purple Navy:            #4C6085
        Outer Space:            #46494C
        Gainsboro:              #DCDCDD
        White Smoke:            #F4F4F4
        Eerie Black:            #11151C
============================================ */

h1 {
    font-family: "Railway", sans-serif;
}