/* ===========================================
   Default Theme
   -------------------------------------------
   Fonts: Raleway & Poppins
   -------------------------------------------
   Colors:
        Purple Navy:            #4C6085
        Outer Space:            #46494C
        Gainsboro:              #DCDCDD
        White Smoke:            #F4F4F4
        Eerie Black:            #11151C
============================================ */

h1 {
    font-family: "Railway", sans-serif;
}

/* ============================================
|  |  |  |  Preloader
============================================ */

#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../img/ww-preloader/website-preloader.gif");
    background-repeat: no-repeat;
    width: 115px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -65px;
    margin-left: -65px;
}







