/* ===========================================
   Default Theme
   -------------------------------------------
   Fonts: Raleway & Poppins
   -------------------------------------------
   Colors:
        Purple Navy:            #4C6085
        Outer Space:            #46494C
        Gainsboro:              #DCDCDD
        White Smoke:            #F4F4F4
        Eerie Black:            #11151C
============================================ */

/* ============================================
|  |  |  |  Html, Body
============================================ */

html, body {
    height: 100%;
}

body {
    color: #46494C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;
}

/* ============================================
|  |  |  |  Preloader
============================================ */

#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../img/ww-preloader/website-preloader.gif");
    background-repeat: no-repeat;
    width: 115px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -65px;
    margin-left: -65px;
}

/* ============================================
|  |  |  |  Home
============================================ */

#home {
    background: none;
    height: 100%;
}

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("../video/Websitewarehouse.jpg") no-repeat;
    background-size: cover;
}


#home-2 {
    background: none;
    height: 424px;
}

#home-overlay {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-bg-video-2 {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("../video/Websitewarehouse.jpg") no-repeat;
    background-size: cover;
}


#home-overlay-2 {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}



#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

#home-heading h1 span {
    color: #4C6085;
    font-weight: 700;
    font-size: 68px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.home-headings {
    text-align: center;
}

.home-headings h1 {
    color: #11151C;
    font-size: 40px;
    font-weight: 200;
    /*text-transform: uppercase;*/
    margin: 0 0 30px 0;
    display: inline-block;
}

.home-headings h1 span {
    color: #4C6085;
    font-weight: 500;
    font-size: 40px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#home-text p {
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    margin: 10px 0 30px 0;
}

/* ============================================
|  |  |  |  Buttons
============================================ */

.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-home {
    color: #fff;
    border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
    color: #fff;
    background-color: #4C6085;
    border: 1px solid #4C6085;
}

/* ============================================
|  |  |  |  Arrow Down
============================================ */

#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #4C6085;
}

/* ============================================
|  |  |  |  Websites Portfolio
============================================ */
.websites-portfolio {
    text-align: center;
}

.port-bg-color {
    background-color: #d0d0d1;
}

.port-bg-color-2 {
    background-color: #DCDCDD;
}

/*.owl-item {*/
/*    margin: 0 15px 0 15px;*/
/*}*/

.portfolio-style {
    padding: 60px 0 60px 0;
}

.portfolio-style img {
    max-width: 100%;
    max-height: 100%;
}

.item img {
    max-width: 100%;
    height: 350px;

}

.port-section-title {
    display: inline-block;
    margin-right: 20px;
}

.thumbnail-slider {
    width: 100%;
    float: left;
    overflow: hidden;
}

.thumbnail-slider .thumbnail-container {
    width: 100%;
    float: left;
}

.thumbnail-slider .item {
    text-align: center;
}


/* ============================================
|  |  |  |  About Us
============================================ */

.content-box-main-2 {
    padding: 30px 0 60px 0;
    border-top: 2px solid #46494C;
}

.about-02 {
    background-color: #d0d0d1;
}

.about-h {
    min-height: 331px !important;
}

.about-item {
    background-color: #DCDCDD;
    padding: 40px 30px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.about-item i {
    font-size: 42px;
    margin: 0;
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #4C6085;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}

/* Hover state */

.about-item:hover {
    background-color: #4C6085;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #DCDCDD;
}

.about-item:hover hr {
    background-color: #DCDCDD;
}

.about-item:hover i {
    transform: translateY(-5px);
}

/* Smooth transition */
.about-item,
.about-item i,
.about-item hr {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

/* ============================================
|  |  |  |  Page Scroll
============================================ */

div > img {
    position: fixed; width: 15%;
    height: auto;
}
#rightgear,
#leftgear { right: 2rem;
    display: block;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

.jas-carousel > .jas-item {
    width: 80% !important;
}







