section#home-2
    img#leftgear(src="img/about/gear2.svg" alt="")
    img#rightgear(src="img/about/gear2.svg" alt="")
    // Background Video
    video#home-bg-video-2(poster="video/websitewarehouse4.jpg" autoplay="" loop="" muted="" playsinline="")
        source(src="video/websitewarehouse4.mp4" type="video/mp4")
        source(src="video/websitewarehouse4.ogv" type="video/ogg")
        source(src="video/websitewarehouse4.webm" type="video/webm")
    #home-overlay-2