section#business-websites.page2.portfolio-style.port-bg-color-2
    .map-color-5
        .row
            .home-headings.tools-p-align
                .horizontal-heading(style="margin-bottom: 2px; margin-top: -10px;")
                    h1.home-headings-2(style="margin-bottom: 2px; padding: 0;")
                        span(style="font-size: 20px; padding: 0;") Business
                    h1.home-headings-1(style="font-size: 20px; margin-bottom: 0") Websites
    .team-members.owl-carousel.owl-theme.portfolio-item
        a.portfolio-item-d-overlay(href="one-page-branding-agency.html")
            img.img-responsive(src="img/portfolio-detail/ktmanagers/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Branding Agency
            hr.portfolio-hr-style
            p.show-page-paragraph Knight Team Management
        a.portfolio-item-d-overlay(href="one-page-interior-design.html")
            img.img-responsive(src="img/portfolio-detail/interior-design/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Interior Design
            hr.portfolio-hr-style
            p.show-page-paragraph Loose Dreams
        a.portfolio-item-d-overlay(href="one-page-event-agency.html")
            img.img-responsive(src="img/portfolio-detail/events/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Event Agency
            hr.portfolio-hr-style
            p.show-page-paragraph Xtra Talks
        a.portfolio-item-d-overlay(href="one-page-digital-agency.html")
            img.img-responsive(src="img/portfolio-detail/digital-agency/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Digital Agency
            hr.portfolio-hr-style
            p.show-page-paragraph Ramsey Development
        a.portfolio-item-d-overlay(href="one-page-coffee-shop.html")
            img.img-responsive(src="img/portfolio-detail/coffee/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Coffee Shop
            hr.portfolio-hr-style
            p.show-page-paragraph Caffeine & Cuisine
        a.portfolio-item-d-overlay(href="one-page-wedding-planner.html")
            img.img-responsive(src="img/portfolio-detail/wedding/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Wedding Planner
            hr.portfolio-hr-style
            p.show-page-paragraph James & Jessica
        a.portfolio-item-d-overlay(href="one-page-barber-shop.html")
            img.img-responsive(src="img/portfolio-detail/barber/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Barber Shop
            hr.portfolio-hr-style
            p.show-page-paragraph Tito's Barber Shop