section#fitnesshealth-websites.page2.portfolio-style.port-bg-color
    .map-color-5
        .row
            .home-headings.tools-p-align
                .horizontal-heading(style="margin-bottom: 2px; margin-top: -10px;")
                    h1.home-headings-2(style="margin-bottom: 2px; padding: 0;")
                        span(style="font-size: 20px; padding: 0;") Fitness & Health
                    h1.home-headings-1(style="font-size: 20px; margin-bottom: 0") Websites
    .team-members.owl-carousel.owl-theme.portfolio-item
        a.portfolio-item-d-overlay(href="multi-page-modeling-agency.html")
            img.img-responsive(src="img/portfolio-detail/beverly-hills-models/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Modeling Agency
            hr.portfolio-hr-style
            p.show-page-paragraph Beverly Hills Models
        a.portfolio-item-d-overlay(href="multi-page-modeling-agency-2.html")
            img.img-responsive(src="img/portfolio-detail/atl-models/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Modeling Agency
            hr.portfolio-hr-style
            p.show-page-paragraph Buckhead Modeling Agency
        a.portfolio-item-d-overlay(href="multi-page-fitness-company.html")
            img.img-responsive(src="img/portfolio-detail/fitness-miami/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Fitness Company
            hr.portfolio-hr-style
            p.show-page-paragraph Achieve Fitness
        a.portfolio-item-d-overlay(href="multi-page-law-offices.html")
            img.img-responsive(src="img/portfolio-detail/law-offices/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Law Offices
            hr.portfolio-hr-style
            p.show-page-paragraph Hudson, Sara & Franklin
        a.portfolio-item-d-overlay(href="multi-page-finance-company.html")
            img.img-responsive(src="img/portfolio-detail/finance/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Finance Company
            hr.portfolio-hr-style
            p.show-page-paragraph Harvey & West
        a.portfolio-item-d-overlay(href="multi-page-insurance-company.html")
            img.img-responsive(src="img/portfolio-detail/insurance/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Insurance Company
            hr.portfolio-hr-style
            p.show-page-paragraph Westlake Insurance
        a.portfolio-item-d-overlay(href="multi-page-consulting-company.html")
            img.img-responsive(src="img/portfolio-detail/consulting/website-style-1.png" alt="portfolio 01")
            p.show-page-paragraph Consulting Company
            hr.portfolio-hr-style
            p.show-page-paragraph Wess & Clarket