footer.text-center
    .container
        .row
            .col-md-12
                p.my-auto.marg-top
                    // Copyright &copy; 2020    |
                    // <a href="https://dontrellwashington.com" class=" ">Contact</a>
                    | Copyright &copy; 2021
                    //script.
                    //    document.write('<h1>hello</h1>')
                    |  Websites Warehouse All Rights Reserved
    // Back To Top
    a#back-to-top.btn.btn-sm.btn-yellow.btn-back-to-top.smooth-scroll.hidden-sm.hidden-xs(href='#portfolio-2' title='home' role='button')
        i.fa.fa-angle-up
