footer.text-center
    .container
        .row
            .col-md-12
                p.my-auto.marg-top
                    | Copyright © 2021
                    |    |
                    |
                    span() WEBSITES WAREHOUSE, LLC.
                    script.
                        document.write(new Date())
                    |    |
                    |
                    a(href="https://dontrellwashington.com" target="_blank") Personal Website
    // Back To Top
    a#back-to-top.btn.btn-sm.btn-yellow.btn-back-to-top.smooth-scroll.hidden-sm.hidden-xs(href="#home" title="home" role="button")
        i.fa.fa-angle-up