footer.text-center
    .container
        .row
            .col-md-12
                p.my-auto.marg-top
                    | Copyright © 2020
                    span WEBSITES WAREHOUSE, LLC.
                    |    |
                    |
                    a(href="https://dontrellwashington.com") Contact
    // Back To Top
    a#back-to-top.btn.btn-sm.btn-yellow.btn-back-to-top.smooth-scroll.hidden-sm.hidden-xs(href="#home" title="home" role="button")
        i.fa.fa-angle-up