header
    nav.navbar.navbar-fixed-top.mobile-nav-top
        .container-fluid
            .site-nav-wrapper
                // Main Menu
                //a.navbar-brand(href='/' style='padding-left: 50px')
                //    img.img-rsz(src="/img/logo/websites-warehouse-logo-light-new.png" width="95px" height="95px" alt="logo")
                    //img.img-rsz.img-media-q(src="/img/logo/websites-warehouse-new-light-4.png" width='95px' height='95px' alt="logo")
                .container
                    .navbar-header
                        span#mobile-nav-open-btn ☰
                        a.navbar-brand(href='/')
                            img.img-rsz(src="/img/logo/websites-warehouse-logo-light-new.png" width="95px" height="95px" alt="logo")
                        //    img.img-rsz.img-media-q(src="/img/logo/websites-warehouse-new-light-4.png" width='95px' height='95px' alt="logo")
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.pull-right.wh
                            //li
                            //    a(href='/') Home
                            li
                                a.ipad-m(href='/') Websites
                                ul.nav-sub-style
                                    li
                                        a.smooth-scroll.ipad-m(href="#clothing-websites") Shopify
                                    li
                                        a.smooth-scroll.ipad-m(href="#fitnesshealth-websites") Dynamic
                                    li
                                        a.smooth-scroll.ipad-m(href="#business-websites") Static
                                    //li
                                    //    a.smooth-scroll.ipad-m(href="#business-websites") Landing

                            if user

                                li
                                    a(style="padding-top: 8px; padding-bottom: 8px;" href='/me')
                                        img.form__user-photo-2(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                                        = user.name.split(' ')[0]
                                //li
                                //    a.nav__el--logout(href='/logout') Logout


                            else
                                li
                                    a(href='/login') Log in
                // Mobile Menu
                #mobile-nav
                    // Mobile Menu Close Button
                    span#mobile-nav-close-btn ×
                    #mobile-nav-content
                        ul.nav
                            li
                                a(href='/') Home
                            li
                                a.smooth-scroll.ipad-m(href="#business-websites") Shopify
                            li
                                a.smooth-scroll.ipad-m(href="#clothing-websites") Business
                            li
                                a.smooth-scroll.ipad-m(href="#fitnesshealth-websites") Landing

                            if user

                                li
                                    a(style="padding-top: 8px; padding-bottom: 8px;" href='/me')
                                        img.form__user-photo-2(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                                        = user.name.split(' ')[0]
                            else
                                li
                                    a(href='/login') Log in

