section#home
    // Background Video
    video#home-bg-video(poster="video/websitewarehouse4.jpg" autoplay="" loop="" muted="" playsinline="")
        source(src="video/websitewarehouse4.mp4" type="video/mp4")
        source(src="video/websitewarehouse4.ogv" type="video/ogg")
        source(src="video/websitewarehouse4.webm" type="video/webm")
    // Overlay
    #home-overlay
    // Home Content
    #home-content
        #home-content-inner.text-center
            .slider-text
                .desc
                    a.smooth-scroll(href="#business-websites")
                        span.subheading Websites
                        h1.home-heading-style-main
                            span.web-home-style Websites
                            br
                            |  Warehouse
                        span.subheading-2 Made
                        span.subheading-3 Easy
    // Arrow Down
    a#arrow-down.smooth-scroll(href="#business-websites")
        i.fa.fa-angle-down