// Portfolio
section#portfolio
    .isotope-filters
        .container
            .row
                .col-md-12
                    .vertical-heading
                        h5 Find Out Work
                        h2
                            | Our
                            br
                            | Amazing
                            strong Work
                .col-md-12
                    .margin-bottom-g
                        button.btn.btn-yellow.active-item.gallery-list-item(data-filter='all')
                            span All
                        button.btn.btn-yellow.gallery-list-item(data-filter='logo')
                            span Logo
                        button.btn.btn-yellow.gallery-list-item(data-filter='web')
                            span Web
                        button.btn.btn-yellow.gallery-list-item(data-filter='mobile')
                            span Mobile
                        button.btn.btn-yellow.gallery-list-item(data-filter='desktop')
                            span Desktop
        // Portfolio items Wrapper
        section#portfolio-wrapper
            .container-fluid.center-pics
                .row.no-gutters
                    .isotope-filters
                        .col-md-3.col-sm-6.col-xs-12.div-size.filter.logo
                            // Portfolio Item 01
                            .portfolio-item.portfolio-pic.no-underline
                                a(href='img/portfolio/001.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/001.jpg', alt='portfolio 01')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Logo
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Desktop, Design
                        .col-md-3.col-sm-6.col-xs-12.div-size.filter.web
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/002.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/002.jpg', alt='portfolio 02')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Photoshop
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Web Design, Illustration
                        .col-md-3.col-sm-6.col-xs-12.div-size.filter.web
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/003.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/003.jpg', alt='portfolio 03')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Web Design
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Video, Web
                        .col-md-3.col-sm-6.col-xs-12.div-size.filter.logo
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/004.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/004.jpg', alt='portfolio 04')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Logo
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Desktop, Design
                        .col-md-3.col-sm-6.col-xs-12.div-size.filter.desktop
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/005.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/005.jpg', alt='portfolio 05')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Photoshop
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Web Design, Illustration
                        .col-md-3.col-sm-6.col-xs-12.div-size.filter.logo
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/006.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/006.jpg', alt='portfolio 06')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Logo
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Desktop, Design
                        .col-md-3.col-sm-6.col-xs-12.div-size.filter.mobile
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/007.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/007.jpg', alt='portfolio 07')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Photoshop
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Web Design, Mobile
                        .col-md-3.col-sm-6.col-xs-12.div-size.filter.mobile
                            .portfolio-item.portfolio-pic
                                a(href='img/portfolio/008.jpg', title='Add Description')
                                    img.img-responsive(src='img/portfolio/008.jpg', alt='portfolio 08')
                                    .portfolio-item-overlay.margin-top-g
                                        .portfolio-item-details.text-center
                                            // Item Header
                                            h3 Mobile Design
                                            // Item Strips
                                            span
                                            // Item Description
                                            p Video Web
// End of Portfolio