extends base

block content
    include _header
    section#home-4
        // <img src="img/about/gear2.svg" alt id="leftgear">
        // <img src="img/about/gear2.svg" alt id="rightgear">
        // Background Video
        video#home-bg-video-2(poster="video/websitewarehouse4.jpg" autoplay="" loop="" muted="" playsinline="")
            source(src="video/websitewarehouse4.mp4" type="video/mp4")
            source(src="video/websitewarehouse4.ogv" type="video/ogg")
            source(src="video/websitewarehouse4.webm" type="video/webm")
        #home-overlay-2
    // End of Build section
    // Interactive Map
    section#pricing
        .content-box-md-interact
            div
                .map-color-3
                    .row
                        .home-headings.tools-p-align
                            .horizontal-heading(style="margin-bottom: 2px; margin-top: -10px;")
                                h1.home-headings-2(style="margin-bottom: 2px; padding: 0;")
                                    span(style="font-size: 20px; padding: 0;")  Multi-Page Templates
                .map-color-6
                    .container
                        .row
                            // Site content
                            #content
                                section#map-section.inner.over
                                    ul#examples-2(style="margin-top: 40px;")
                                        li
                                            a.background-map-2(href='/') ← Back to All Websites
                                    .desc.map-color-7.container-paragraph
                                        .map-paragraph
                                            h2.i-map-paragraph
                                                b Your Account Settings
                                            br
                                            // Contact
                                            section#contact
                                                .content-box-md-3
                                                    .container
                                                        .row
                                                            .col-md-3
                                                                // Contact Left
                                                                #contact-left
                                                                    .vertical-heading
                                                                        h5 Your account
                                                                        h2(style="margin-top: 35px;") Settings
                                                                    .contact-left-m
                                                                        #offices
                                                                            .row
                                                                                .col-md-12
                                                                                    .office
                                                                                        ul.office-details
                                                                                            li
                                                                                                a(href='#' style="color: #4C6085; pointer-events: none;")
                                                                                                    i.fa.fa-user-circle
                                                                                                    | Settings
                                                                                            //li
                                                                                            //    a(href="favorites.html")
                                                                                            //        i.fa.fa-heart
                                                                                            //        | My Favorites
                                                                                            li
                                                                                                a(href='/my-websites')
                                                                                                    i.fa.fa-shopping-cart
                                                                                                    | My Purchases
                                                                                            li
                                                                                                a.logout-a(href='/logout')
                                                                                                    i.fa.fa-sign-out
                                                                                                    | Logout
                                                            .col-md-9
                                                                // Contact Right
                                                                #contact-right.form-styles-c(style="padding-bottom: 60px; width: 500px;")
                                                                    // Without API
                                                                    //form.form.form-user-data(action='/submit-user-data' method='POST' enctype='multipart/form-data')
                                                                    // With API
                                                                    form.form.form-user-data
                                                                        hr.line-br-color
                                                                        .row
                                                                            .col-md-12.col-sm-12
                                                                                .form-group
                                                                                    p(style="margin-bottom: 5px;") Name
                                                                                    input#name.form-control(type='text', value=`${user.name}`, required, name='name')
                                                                            .col-md-12.col-sm-12
                                                                                .form-group
                                                                                    p(style="margin-bottom: 5px;") Email
                                                                                    input#email.form-control(type='email', value=`${user.email}`, required, name='email')
                                                                                .form__group.form__photo-upload
                                                                                    img.form__user-photo(style="margin-bottom: 20px;" src=`/img/users/${user.photo}` alt="User photo")

                                                                                    input.form__upload(type='file', accept='image/*', id='photo', name='photo', style='display: none;')
                                                                                    label.btn-text(for='photo', style='cursor: pointer; color: #4C6085;') Choose new photo
                                                                        #submit-btn.form-submit-b
                                                                            button.btn.btn-general.btn-yellow(style="margin-bottom: 10px;" type="submit" name="submit" role="button") Save Settings
                                                                    form.form.form-user-password
                                                                        // <h4 class="form-t-c">Send Us A Message</h4>
                                                                        hr.line-br-color
                                                                        .row
                                                                            .col-md-12.col-sm-12
                                                                                .form-group
                                                                                    p(style="margin-bottom: 5px;") Current password
                                                                                    input#password-current.form-control(type='password', placeholder='••••••••', required, minlength='8')
                                                                            .col-md-12.col-sm-12
                                                                                .form-group
                                                                                    p(style="margin-bottom: 5px;") New Password
                                                                                    input#password.form-control(type='password', placeholder='••••••••', required, minlength='8')
                                                                            .col-md-12.col-sm-12
                                                                                .form-group
                                                                                    p(style="margin-bottom: 5px;") Confirm Password
                                                                                    input#password-confirm.form-control(type='password', placeholder='••••••••', required, minlength='8')
                                                                        #submit-btn2.form-submit-b
                                                                            button.btn.btn-general.btn-yellow.btn--save-password Save password
                                            // End of Contact
                                            // <div class="user-view">
                                            // <nav class="user-view__menu">
                                            // <ul class="side-nav">
                                            // <li class="side-nav&#45;&#45;active"><a href="#"><svg><use xlink:href="img/icons.svg#icon-settings"></use></svg>Settings</a></li>
                                            // <li><a href="#"><svg><use xlink:href="img/icons.svg#icon-briefcase"></use></svg>My bookings</a></li>
                                            // <li><a href="#"><svg><use xlink:href="img/icons.svg#icon-star"></use></svg>My reviews</a></li>
                                            // <li><a href="#"><svg><use xlink:href="img/icons.svg#icon-credit-card"></use></svg>Billing</a></li>
                                            // </ul>
                                            // <div class="admin-nav">
                                            // <h5 class="admin-nav__heading">Admin</h5>
                                            // <ul class="side-nav">
                                            // <li><a href="#"><svg><use xlink:href="img/icons.svg#icon-map"></use></svg>Manage tours</a></li>
                                            // <li><a href="#"><svg><use xlink:href="img/icons.svg#icon-users"></use></svg>Manage users</a></li>
                                            // <li><a href="#"><svg><use xlink:href="img/icons.svg#icon-star"></use></svg>Manage reviews</a></li>
                                            // <li><a href="#"><svg><use xlink:href="img/icons.svg#icon-briefcase"></use></svg></a></li>
                                            // </ul>
                                            // </div>
                                            // </nav>
                                            // <div class="user-view__content">
                                            // <div class="user-view__form-container">
                                            // <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
                                            // <form class="form form-user-data">
                                            // <div class="form__group"><label class="form__label" for="name">Name</label><input class="form__input" id="name" type="text" value="Jonas Schmedtmann" required></div>
                                            // <div class="form__group ma-bt-md"><label class="form__label" for="email">Email address</label><input class="form__input" id="email" type="email" value="admin@natours.io" required></div>
                                            // <div class="form__group form__photo-upload"><img class="form__user-photo" src="img/user.jpg" alt="User photo"><a class="btn-text" href="">Choose new photo</a></div>
                                            // <div class="form__group right"><button class="btn btn&#45;&#45;small btn&#45;&#45;green">Save settings</button></div>
                                            // </form>
                                            // </div>
                                            // <div class="line">&nbsp;</div>
                                            // <div class="user-view__form-container">
                                            // <h2 class="heading-secondary ma-bt-md">Password change</h2>
                                            // <form class="form form-user-settings">
                                            // <div class="form__group"><label class="form__label" for="password-current">Current password</label><input class="form__input" id="password-current" type="password" placeholder="••••••••" required minlength="8"></div>
                                            // <div class="form__group"><label class="form__label" for="password">New password</label><input class="form__input" id="password" type="password" placeholder="••••••••" required minlength="8"></div>
                                            // <div class="form__group ma-bt-lg"><label class="form__label" for="password-confirm">Confirm password</label><input class="form__input" id="password-confirm" type="password" placeholder="••••••••" required minlength="8"></div>
                                            // <div class="form__group right"><button class="btn btn&#45;&#45;small btn&#45;&#45;green">Save password</button></div>
                                            // </form>
                                            // </div>
                                            // </div>
                                            // </div>
    // End of Pricing
    // BG Video
    section#home-2
        img#leftgear(src="img/about/gear2.svg" alt="")
        img#rightgear(src="img/about/gear2.svg" alt="")
        // Background Video
    // End of Build section
