doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Websites Warehouse | #{title}
        // Font
        link(href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css")
        link(rel='stylesheet' href='/css/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')

        link(rel="stylesheet" href="/css/bootstrap/bootstrap.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/owl-carousel/owl.theme.default.min.css")
        link(rel="stylesheet" href="/css/owl-carousel/owl.carousel.min.css")
        link(rel="stylesheet" href="/css/magnific-popup/magnific-popup.css")
        link(rel="stylesheet" type="text/css" href="/css/mapplic/mapplic.css")
        link(rel="stylesheet" href="/css/responsive.css")
        // Favicon
        //link(rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png")
        //link(rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png")
        //link(rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png")
        //link(rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png")
        //link(rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png")
        //link(rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png")
        //link(rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png")
        //link(rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png")
        //link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192" href="/img/favicon/ww-favicon-2.png")
        //link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png")
        //link(rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png")
        //link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png")
        //link(rel="manifest" href="/img/favicon/manifest.json")
        //meta(name="msapplication-TileColor" content="#ffffff")
        //meta(name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png")
        //meta(name="theme-color" content="#ffffff")
    body(data-spy="scroll" data-targey=".navbar" data-offset="65")
        // Preloader
        //#preloader
        //    #status &nbsp;
        // End of Preloader


        block content

        include _footer

    //script(type='text/javascript').
    //    var _d_site = _d_site || '3E4FDBEA2BBB8A380A758203';
    //    (function (p, r, i, v, y) {
    //        p[i] = p[i] || function () {
    //            (p[i].q = p[i].q || []).push(arguments)
    //        };
    //        v = r.createElement('script');
    //        v.async = 1;
    //        v.src = 'https://widget.privy.com/assets/widget.js';
    //        y = r.getElementsByTagName('script')[0];
    //        y.parentNode.insertBefore(v, y);
    //    })(window, document, 'Privy');

    script(async src='https://code.tidio.co/l05aclzix7rm9hp8h6bnqfrtldc1gioi.js' )
    script(src="/js/jquery.js")
    script(src="/js/bootstrap/bootstrap.js")
    script(src="/js/owl-carousel/owl.carousel.min.js")
    script(src="/js/magnific-popup/jquery.magnific-popup.min.js")
    script(src="/js/easing/jquery.easing.1.3.js")
    script(src='/js/axios.min.js')
    script(src="/js/script.js")
    script(src='https://js.stripe.com/v3/')
    script(src='/js/login.js')
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-203191255-1')
    script(src='/js/google-adds/google-tracking.js')
    //script(src='/js/tidio/tidio.js')





