extends base

block content
    include _header2
    // BG Video
    section#home-4
        // <img src="img/about/gear2.svg" alt id="leftgear">
        // <img src="img/about/gear2.svg" alt id="rightgear">
        // Background Video
        video#home-bg-video-2(poster="video/websitewarehouse4.jpg" autoplay="" loop="" muted="" playsinline="")
            source(src="video/websitewarehouse4.mp4" type="video/mp4")
            source(src="video/websitewarehouse4.ogv" type="video/ogg")
            source(src="video/websitewarehouse4.webm" type="video/webm")
        #home-overlay-2
    // End of Build section
    // Interactive Map
    section#pricing
        .content-box-md-interact
            div
                .map-color-3
                    .row
                        .home-headings.tools-p-align
                            .horizontal-heading(style="margin-bottom: 2px; margin-top: -10px;")
                                h1.home-headings-2(style="margin-bottom: 2px; padding: 0;")
                                    span(style="font-size: 20px; padding: 0;")  Multi-Page Templates
                .map-color-6
                    .container
                        .row
                            // Site content
                            #content
                                section#map-section.inner.over
                                    ul#examples-2(style="margin-top: 60px;")
                                        li
                                            a.background-map-2(href='/') ← Back to All Templates
                                    .desc.map-color-7.container-paragraph(style="width: 600px;margin: 70px auto; height: 550px;")
                                        .map-paragraph
                                            h2.i-map-paragraph
                                                b Log Into Your Account
                                            br
                                            // Contact
                                            section#contact
                                                div
                                                    .container
                                                        .row
                                                            //
                                                            .col-md-12(style="padding-left: 0;")
                                                                // Contact Right
                                                                #contact-right.form-styles-c(style="height: 400px")
                                                                    form.form.form--login(style="width: 500px; height: 400px")
                                                                        // <h4 class="form-t-c">Send Us A Message</h4>
                                                                        .row
                                                                            .col-md-12.col-sm-12
                                                                                .form-group
                                                                                    p(style="margin-bottom: 5px;") Enter your Email
                                                                                    //label(for='email') Email address
                                                                                    input#email.form-control(type="email", required, placeholder="you@example.com")
                                                                            .col-md-12.col-sm-12
                                                                                .form-group
                                                                                    p(style="margin-bottom: 5px;") Enter your Password
                                                                                    //label(for='password') Password
                                                                                    input#password.form-control(type="password", minlength='8', required, placeholder="*********")
                                                                        #submit-btn.form-submit-b(style="text-align: center")
                                                                            p(style="margin-top: 15px;")
                                                                                a(href="#") Forgot Password?
                                                                            button.btn.btn-general.btn-yellow Login
                                                                            a.btn.btn-general.btn-yellow(href='/signup' style="color: #4c6085; background-color: transparent;") Sign Up

    // End of Pricing
    // BG Video
    section#home-2
        img#leftgear(src="/img/about/gear2.svg" alt="")
        img#rightgear(src="/img/about/gear2.svg" alt="")
        // Background Video
    // End of Build section