extends base

block home
    include _homeSection
    #templates
        .websites-portfolio

            include _business-websites
            include _clothing-websites
            include _fitness-websites
            include _design-websites
            include _event-websites
            include _restaurant-websites

    include _bg-video-1
        // BG Video
