extends base

block content
    include _header
    section#home-4
        video#home-bg-video-2(poster='video/websitewarehouse8.jpg' autoplay='' loop='' muted='' playsinline='')
            //source(src='video/websitewarehouse9.mp4' type='video/mp4')
            // <source src="video/websitewarehouse4.ogv" type="video/ogg">
            // <source src="video/websitewarehouse4.webm" type="video/webm">
        #home-overlay-2
    // Interactive Map
    section(id='')
        .content-box-md-interact
            div
                .map-color-3
                    .row
                        .home-headings.tools-p-align
                            .horizontal-heading(style='margin-bottom: 2px; margin-top: -10px;')
                                h1.home-headings-2(style='margin-bottom: 2px; padding: 0;')
                                    span(style='font-size: 20px; padding: 0;')  Pricing
                .map-color-6
                    .container
                        .row
                            #content
                                section#map-section.inner.over(style='background: none;')
                                    ul#examples-2
                                        li
                                            a.background-map-2(href='/#portfolio-2') &larr; Back to All Websites
                                    // <div class="map-color-7">
                                    // <h2 class="i-map-paragraph map-paragraph"><b>Modeling Agency</b> - Beverly Hills Models</h2>
                                    // </div>
                                    // <hr>
                                    // <p class="website-show-page-css">One of the top modeling agencies in Los Angeles..</p>
                                    // Pricing
                                    section#pricing
                                        .content-box-md(style='padding-top: 30px;')
                                            .container
                                                .row
                                                    .col-md-12.text-center
                                                        .horizontal-heading
                                                            h5 Learn about
                                                            h2 Our Pricing
                                                .row
                                                    .col-md-4.col-sm-4
                                                        // Pricing Table 02
                                                        .pricing-table.black
                                                            .type
                                                                h4 Static Website
                                                            .price
                                                                .row
                                                                    .col-md-12.col-sm-12.col-xs-12
                                                                        h2
                                                                            span.dollar $
                                                                            | 500
                                                                            br
                                                                            span.month Starting at
                                                                    // <div class="col-md-8 col-sm-8 col-xs-8">
                                                                    // <p>You will get all these awesome services with this great price. Get it now!</p>
                                                                    // </div>
                                                            ul.package
                                                                li
                                                                    i.fa.fa-check
                                                                    | Static Hosting
                                                                li
                                                                    i.fa.fa-check
                                                                    | Email Accounts
                                                                li
                                                                    i.fa.fa-check
                                                                    | 4 website changes
                                                                li
                                                                    i.fa.fa-check
                                                                    | Social Media Integration
                                                                li
                                                                    i.fa.fa-check
                                                                    | Live Chat &amp; Subscriber Options
                                                                li
                                                                    i.fa.fa-check
                                                                    | 2-4 Day Turnaround
                                                                li
                                                                    i.fa.fa-check
                                                                    | Customization Options
                                                            .pricing-btn
                                                                a.btn.btn-general.btn-white(style='border: 1px solid;' href='mailto:dontrellthedeveloper@gmail.com?subject=I would like to purchase a static website' target="_blank" title='Get Started' role='button') Get Started
                                                                //a.btn.btn-general.btn-white(href=`mailto:dontrellthedeveloper@gmail.com?subject=I would like to purchase ${website.name} template` target="_blank") Get Started
                                                    .col-md-4.col-sm-4
                                                        // Pricing Table 02
                                                        .pricing-table.black
                                                            .type
                                                                h4 Shopify Website
                                                            .price
                                                                .row
                                                                    .col-md-12.col-sm-12.col-xs-12
                                                                        h2
                                                                            span.dollar $
                                                                            | 800
                                                                            br
                                                                            span.month Starting at
                                                                    // <div class="col-md-8 col-sm-8 col-xs-8">
                                                                    // <p>You will get all these awesome services with this great price. Get it now!</p>
                                                                    // </div>
                                                            ul.package
                                                                li
                                                                    i.fa.fa-check
                                                                    | Shopify Admin &amp; Hosting
                                                                li
                                                                    i.fa.fa-check
                                                                    | Email Accounts
                                                                li
                                                                    i.fa.fa-check
                                                                    | Shopify Partner - 5 website changes
                                                                li
                                                                    i.fa.fa-check
                                                                    | E-commerce Platform
                                                                li
                                                                    i.fa.fa-check
                                                                    | 1000+ apps to choose from
                                                                li
                                                                    i.fa.fa-check
                                                                    | 3-5 Day Turnaround
                                                                li
                                                                    i.fa.fa-check
                                                                    | Customization Options
                                                            .pricing-btn
                                                                a.btn.btn-general.btn-white(style='border: 1px solid;' href='mailto:dontrellthedeveloper@gmail.com?subject=I would like to purchase a shopify store' target="_blank" title='Get Started' role='button') Get Started
                                                    .col-md-4.col-sm-4
                                                        // Pricing Table 02
                                                        .pricing-table.black
                                                            .type
                                                                h4 Dynamic Website
                                                            .price
                                                                .row
                                                                    .col-md-12.col-sm-12.col-xs-12
                                                                        h2
                                                                            span.dollar(style='margin-left: -12px;') $
                                                                            | 1200
                                                                            br
                                                                            span.month Starting at
                                                                    // <div class="col-md-8 col-sm-8 col-xs-8">
                                                                    // <p>You will get all these awesome services with this great price. Get it now!</p>
                                                                    // </div>
                                                            ul.package
                                                                li
                                                                    i.fa.fa-check
                                                                    | Front End - Back End - Server Hosting
                                                                li
                                                                    i.fa.fa-check
                                                                    | Email Accounts
                                                                li
                                                                    i.fa.fa-check
                                                                    | 6 website changes
                                                                li
                                                                    i.fa.fa-check
                                                                    | Database &amp; User Integration
                                                                li
                                                                    i.fa.fa-check
                                                                    | Live Chat &amp; Subscriber Options
                                                                li
                                                                    i.fa.fa-check
                                                                    | 5-7 Day Turnaround
                                                                li
                                                                    i.fa.fa-check
                                                                    | Customization Options
                                                            .pricing-btn
                                                                a.btn.btn-general.btn-white(style='border: 1px solid;' href='mailto:dontrellthedeveloper@gmail.com?subject=I would like to purchase a dynamic website' target="_blank" title='Get Started' role='button') Get Started

                                                                    // End of Pricing
